

:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.nav{
  display:grid;
  grid-template-rows: 100px;
  grid-template-columns:20% 11% 11% 11% 11% 36%;
  align-items: center;
  justify-items:center;
  padding-top: 20px;
  padding-left: 109px;
}
#logo{
  justify-self: start ;
  height:5.56vh;
}
#button{
  width:9.6vw;
  height:4.9vh;
  justify-self: end;
  margin-right: 109px;
  border-radius: 16.15px;
  border: 0;
  font-size: 1.3em;
  background-color: #40048b;
  z-index: 28;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  z-index: 30;

}

.candidates {
  color: #f2f6ff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.results {
  color: #f2f6ff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.our-aim {
  color: #f2f6ff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  z-index: 19;
}
.contact-us {
  color: #f2f6ff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  z-index: 20;
}


.flex-row-d {
  position: relative;
  width: 1217px;
  height: 475.762px;
  margin: 100.487px 0 0 200px;
  z-index: 31;
}
/* .group {
  position: absolute;
  width: 55.46%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(C:\Users\hirak\Desktop\votingApp\React-Voting-Application-main\React-Voting-Application-main\y\img4.jpg)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 31;
} */
.take-charge-of-your-vote {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 40vw;
  height: 154px;
  top: 41px;
  left: 1000px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 60px;
  font-weight: 700;
  line-height: 77.256px;
  text-align: left;
  z-index: 9;
}
.vote-tomorrow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 209px;
  height: 99px;
  top: 214px;
  left: 1000px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 32.597px;
  text-align: left;
  text-overflow: initial;
  z-index: 8;
  overflow: hidden;
}
.rectangle-6 {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 216px;
  height: 61px;
  top: 372px;
  left: 999px;
  background: #40048b;
  z-index: 4;
  border-radius: 20px;
}
/* .arrow-right {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 16px;
  left: 152px;
  background: url(C:\Users\hirak\Desktop\votingApp\React-Voting-Application-main\React-Voting-Application-main\y\img3.jpg)
    no-repeat center;
  background-size: cover;
  z-index: 7;
  overflow: hidden;
} */
.vote-now {
  
  justify-content: center;
  border-radius: 20px;
  background: #40048b;
  border: 0;
  width: 216px;
  height: 61px;
  flex: 1;
  top: 19px;
  left: 45px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 17px;
  font-weight: 400;
  line-height: 19.922px;
  text-align: center;
  white-space: nowrap;
  z-index: 6;
}
.vector {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(C:\Users\hirak\Desktop\votingApp\React-Voting-Application-main\Voting-App\img2.jpg)
    no-repeat center;
  background-size: cover;
}
.login-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(https://media.istockphoto.com/id/1452233668/photo/big-data-center-concept-cloud-database-server-power-station-of-the-future-data-transfer.jpg?s=2048x2048&w=is&k=20&c=H-nxP0Xx_aUNRVsEkAlKSAG-zhLJb5lLzDrL51YEoEo=)
}
.result-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(C:\Users\hirak\Desktop\votingApp\React-Voting-Application-main\Voting-App\img2.jpg)
}

.welcome-message {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #ea00ff;
}
.end-message {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #3e006a;
}
.login-button {
  background-color: #ea00ff;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0069d9;
}


.connected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.connected-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #9d00ff;
}

.connected-account {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #6300a1;
}

.connected-button {
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

.connected-button:hover {
  background-color: #0069d9;
}

.connected-contract-address {
  font-size: 1.2rem;
  text-align: center;
}


.candidates-table {
  border-collapse: collapse;
  width: 50%;
  text-align:center;
  color: #6300a1;
  
}

.candidates-table th, .candidates-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.candidates-table th {
  background-color: #f2f2f2;
}

input[type=number] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
}


:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  background: #ffffff;
  overflow: hidden;
}
/* .vector {
  position: absolute;
  width: 1436.51px;
  height: 500.927px;
  top: 0%;
  left: 0%;
  background: url(C:\Users\hirak\Desktop\votingApp\React-Voting-Application-main\React-Voting-Application-main\x\87d468b8-98c3-41cc-ad3f-f049b065cf8a.png)
    no-repeat center;
  background-size: cover;
} */
.rectangle {
  position: absolute;
  width: 441px;
  height: 482px;
  top: 50%;
  left: 50%;
  background: #36385c;
  transform: translate(-49.89%, -50%);
  z-index: 1;
  border-radius: 30px;
}
.rectangle-1 {
  position: relative;
  width: 441px;
  height: 359px;
  margin: 0 0 0 0;
  font-size: 0px;
  background: #2f2e41;
  z-index: 2;
  overflow: visible auto;
  border-radius: 30px 30px 0 0;
}
.admin-login-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 301px;
  height: 39px;
  margin: 50px 0 0 70px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 38.727px;
  text-align: center;
  white-space: nowrap;
  z-index: 3;
}
.rectangle-3 {
  position: relative;
  width: 340px;
  height: 45px;
  margin: 35px 0 0 51px;
  background: #ffffff;
  z-index: 5;
  
}

.username-input {
  position: absolute;
  width: 340px;
  height: 45px;
  top: 0;
  left: 20px;
  background: transparent;
  border: none;
  z-index: 7;
  outline: none;
  font-size: 24px;
}
.username {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 112px;
  height: 29px;
  top: 8px;
  left: 22px;
  color: #707070;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  white-space: nowrap;
  z-index: 6;
}
.rectangle-4 {
  position: relative;
  width: 340px;
  height: 45px;
  margin: 25px 0 0 51px;
  background: #ffffff;
  z-index: 9;
}
.username-input-5 {
  position: absolute;
  width: 340px;
  height: 45px;
  top: 0;
  left: 20px;
  background: transparent;
  border: none;
  z-index: 11;
  outline: none;
  font-size: 24px;
}
.password-input {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 111px;
  height: 29px;
  top: 8px;
  left: 23px;
  color: #707070;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  white-space: nowrap;
  z-index: 10;
}
.rectangle-6 {
  position: relative;
  width: 340px;
  height: 45px;
  margin: 25px 0 0 51px;
  background: #0082fb;
  z-index: 13;
}
#button {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 122px;
  height: 29px;
  top: 8px;
  left: 109px;
  background-color: #0082fb;
  border: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  white-space: nowrap;
  z-index: 14;
}
.send-password-note {
  position: relative;
  width: 300px;
  height: px;
  margin: 25px 0 0 55px;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.364px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 15;
}
.send-password {
  position: relative;
  color: #0082fb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.364px;
  text-align: center;
}
.text-6 {
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  margin-right: 100px;
  
  font-weight: 500;
  line-height: 19.364px;
  text-align: center;
}
.send-password-7 {
  position: relative;
  color: #0082fb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.364px;
  text-align: center;
}
.text-8 {
  position: relative;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.364px;
  text-align: center;
}


